#logo {
    padding-left: 10px;
}

#index-banner {
    background-image: url("./images/restaurantpic.jpg");
    background-repeat: no-repeat;
}

.header-text {
    color: white;
}

.nav-edit {
    background-color:navy;
}

#title-text {
    text-align: center;
    font-size: 30px;
    padding: 180px;
    color: white;
}

#nav {
    background-color: #8fbc8b;;
}

#footer {
    background-color: #8fbc8b;
}

.main-text {
    color: #ff6347;
}

.icons {
    color: #708090;
}

