#logo {
    padding-left: 10px;
}

#index-banner {
    background-image: url("./images/Family_restaurant.png");
    background-repeat: no-repeat;
}

.header-text {
    color: white;
}

.nav-edit {
    background-color:navy;
}

#title-text {
    text-align: center;
    font-size: 30px;
    padding: 180px;
    color: white;
}

